<!-- <h1>Matchings#new</h1> -->

<h1>New Matching</h1>

<%= form_with model: @matching do |form| %>
  <div>
    <%= form.label :student_id %><br>
    <%= form.collection_select :student_id, @students, :id, :name %>
  </div>

  <div>
    <%= form.label :tutor_id %><br>
    <%= form.collection_select :tutor_id, @tutors, :id, :name %>
  </div>

  <div>
    <%= form.submit "Confirm Matching" %>
  </div>
<% end %>