<%= render "shared/navbar" %>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-8">

<h3>Edit Student Profile</h3><br>

<%= form_with model: @student do |form| %>

<% if @student.errors.any? %>
          <div id="error_explanation">
            <h3 style="color:red"><%= pluralize(@student.errors.count, "Error") %>:</h3>
            <ul>
              <% @student.errors.each do |error| %>
                <li style="color:red"><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

  <div class="form-group">
    <p><b><%= form.label :name %></b></p>
    <%= form.text_field :name, placeholder: "Enter your name here", disabled: true, class: "form-control" %>     
  </div>

  <div class="form-group">
    <p><b>Change <%= form.label :password %> (optional)</b></p>
    <%= form.password_field :password, placeholder: "Change your password here", size: "25x10", class: "form-control" %>
  </div>

  <div class="form-group">
    <p><b><%= form.label :password_confirmation %></b></p>
    <%= form.password_field :password_confirmation, placeholder: "Re-Enter your new password", size: "25x10", class: "form-control" %>
  </div>
  
  <div class="form-group">
    <p><b><%= form.label :country %> of Residence</b></p>
    <%= form.text_field :country, placeholder: "Enter your new country of residence here", size: "35x10", class: "form-control" %>
  </div>

  <div class="form-group">
    <p><b>English <%= form.label :level %></b></p>
    <%= form.select :level, options_for_select(["beginner", "intermediate", "advanced"]), class: "form-control" %>
  </div> 

  <div class="form-group">
    <p><b><%= form.label :email %></b></p>
    <%= form.text_field :email, placeholder: "Enter your email here", disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <p><b><%= form.label :image %> (optional)</b></p>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <p><%= form.submit class: "form-control" %></p>
  </div>

<% end %>
