<h1>All Students</h1>

<ul>
  <% @students.each do |student| %>
    <li>
      <%= link_to student.name, student_path(student) %><br>
      <b>Email:</b> <%=student.email%><br>
      <b>Currently resides in:</b> <%=student.country%><br>
      Currently matched with <b><%=student.matchings.count%></b> tutor(s)<br>
      <%= link_to "Match Student", new_matching_path %><br><br>
    </li>
  <% end %>
</ul>