<%= render "shared/navbar" %>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-8">

    <h3> Tutors matched with <%= @student.name %> </h3><br><br>

    <% if !@student.matchings.empty? %>
        <ul>
            <% @student.tutors.each do |tutor| %>
            <li><b> <%= link_to tutor.name, tutor_path(tutor) %> </b></li><br>
                <b>Email:</b> <%= tutor.email %><br>
                <b>Currently resides in:</b> <%= tutor.country %><br><br><br>
            <% end %>
        </ul>
    <% else %>
    Sorry, no current matching yet!
    <% end %>

  </div>
  <div class="col-sm-1"></div>
</div>
    
