<%= render "shared/navbar" %>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-8">

    <h3><%= @student.name %>'s Profile</h3>

    <% if @current_student&.id == @student.id %>
      <h5><%= link_to "Edit my Profile", student_profile_edit_path(@student.id) %></h5><br>
    <% end %>

    <% if @student.image.attached? %>
      <img class="img-rounded" src="<%= (url_for(@student.image)) %>"><br><br>
    <% end %>

    <p><u>Name</u>: <%= @student.name %></p>
    <p><u>Email</u>: <%= @student.email %></p>
    <p><u>English Level</u>: <%= @student.level %></p>
    <p><u>Country of Residence</u>: <%= @student.country %></p>

  </div>
  <div class="col-sm-1"></div>
</div>



