<!-- <h1>Tutors#new</h1> -->
<!-- <p>Find me in app/views/tutors/new.html.erb</p> -->
<h1>New Tutor</h1>

<%= form_with model: @tutor do |form| %>
  <div>
    <p><b>Preferred <%= form.label :name %><br></b></p>
    <%= form.text_field :name, placeholder: 'Enter your name here'%>
  </div>

  <div>
    <p><b><%= form.label :password %><br></b></p>
    <%= form.text_field :password, placeholder: 'Enter your password here', type: 'password', id: 'password', size: '25x10'%>
  </div>

  <div>
    <p><b><%= form.label :country %> of Residence<br></b></p>
    <%= form.text_field :country, placeholder: 'Enter your country of residence here', size: '35x10' %>
  </div>

  <div>
    <p><b><%= form.label :email %><br></b></p>
    <%= form.text_field :email, placeholder: 'Enter your email here' %>
  </div>

  <div>
    <p><b><%= form.label :image %> (optional)<br></b></p>
    <%= form.file_field :image %>
  </div>

  <div>
    <p><%= form.submit %></p>
  </div>

<% end %>

