<h1><%= @tutor.name %>'s Profile<br><br></h1>

<% if @current_tutor&.id == @tutor.id %>
  <h2><%= link_to "Edit my Profile", tutor_profile_edit_path(@tutor.id) %></h2>
<% end %>

<% if @tutor.image.attached? %>
  <img src="<%= (url_for(@tutor.image)) %>">
<% end %>

<p><u>Name</u>: <%= @tutor.name %></p>
<p><u>Email</u>: <%= @tutor.email %></p>
<p><u>Country of Residence</u>: <%= @tutor.country %></p>