<h1><%= @tutor.name %>'s Profile</h1>

<% if @tutor.image.attached? %>
  <img src="<%= (url_for(@tutor.image)) %>">
<% end %>

<p><u>Name</u>: <%= @tutor.name %></p>
<p><u>Email</u>: <%= @tutor.email %></p>
<p><u>Country of Residence</u>: <%= @tutor.country %></p>